# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.idea
.gulp-scss-cache
.sass-cache
jest
.DS_Store
./config.js
src/client/config.js


# Docker
Dockerfile
docker-compose.yml

