.editor-box{
  position: absolute;
  top:0;
  pointer-events: none;
}
.editor-box input,.editor-box button{
  pointer-events: initial;
}
.editor-box input.invisible{
  visibility: hidden;
  width: 0;
}
.hide{
  display: none !important;
}
$helper_width: '30%';
$helper_left: '100% - #{$helper_width}';
$helper_border_width: 1;
$helper_padding: 5;
.helper{
  background: rgba(226, 226, 226, 0.2);
  display: inline-block;
  max-height: 90%;
  overflow: auto;
  left: calc( #{$helper_left} - #{$helper_border_width * 2}px);
  position: relative;
  width: calc( #{$helper_width} - #{$helper_padding * 2}px);
  padding: #{$helper_padding}px;
  border: #{$helper_border_width}px solid #ccc;
  font-size: 12px;
}
.helper-text{
  text-align: center;
}
.sidebar{
  background: white;
}