<!--suppress ALL -->
<link href="" rel="stylesheet"/>
<div id="root"></div>

<div style="position: fixed;right: 0;top:0">
    <button   onclick="toggleDebug()">Debug</button>
    <button  onclick="togglePhysics()">Physics</button>
</div>

<script>
    function toggleDebug(){
        cc.debugger_.toggle()
    }
    function togglePhysics(){
        window.editor.togglePhysics()
    }
</script>
<script src="/engine/CCBoot.js"></script>
<script src="/engine/external/box2d/box2d.js"></script>
<script src="/core.min.js"></script>
<script src="/pages/game.min.js"></script>
<script src="/pages/editor.min.js"></script>
<script src="<%= wsHOST %>/socket.io/socket.io.js"></script>
<!--<script src="/main.js"></script>-->
<script src="/res/loading.js"></script>